<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  col-md-4">标题</label>
                        <div class="  col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.title" >
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">编辑时间</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.startAt" data-max-date="{{vm.searchParams.endAt}}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center">—</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.endAt" data-min-date="{{vm.searchParams.startAt}}"
                                   data-max-date="today">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  col-md-4">编辑者</label>
                        <div class="col-lg-8 col-md-8">
                            <input   type="text" class="form-control" ng-model="vm.searchParams.createBy" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  col-md-4">状态</label>
                        <div class=" col-md-8  col-xs-11">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value=""
                                        ng-selected="vm.searchParams.status==''||vm.searchParams.status==undefined"
                                        selected>全部</option>
                                <option value="1" ng-selected="vm.searchParams.status===1">草稿</option>
                                <option value="2" ng-selected="vm.searchParams.status===2">上线</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  col-md-4">类型</label>
                        <div class=" col-md-8  col-xs-11">
                            <select class="form-control" ng-model="vm.searchParams.type">
                                <option value=""
                                        ng-selected="vm.searchParams.type==''||vm.searchParams.type==undefined"
                                        selected>全部</option>
                                <option value="1" ng-selected="vm.searchParams.type===1">帮助中心</option>
                                <option value="0" ng-selected="vm.searchParams.type===0">关于我们</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-right ">
                    <search params="vm.searchParams" ></search>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>内容列表</strong>
        <button class="btn btn-primary btn-xs pull-right margin-right-20" ui-sref="field.contentDetail">+新增</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive border">
            <table style="min-width:850px;overflow: auto" class="table table-hover add-table-border">
                <thead>
                <tr class="grey">
                    <th>序号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>编辑者</th>
                    <th>编辑时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.list">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.type===1?'帮助中心':'关于我们'}}</td>
                    <td ng-class="{'text-danger': item.status ===1,'text-success': item.status ==2}">{{item.status===2?'已上线':'草稿'}}</td>
                    <td>{{item.createBy}}</td>
                    <td>{{item.updateAt | date:"yyyy-MM-dd"}} <br>{{item.updateAt|date:"HH:mm:ss"}}</td>
                    <td>
                        <button class="btn btn-xs btn-success"
                                ng-if=" item.status !==2" ng-click="vm.online(item.id)">上线</button>
                        <button class="btn btn-xs btn-danger"
                                ng-if=" item.status ==2" ng-click="vm.offline(item.id)">下线</button>

                        <button class="btn btn-primary btn-xs" ui-sref="field.contentDetail({id:item.id})">编辑</button>
                        <button class="btn btn-info btn-xs" ng-click="vm.delete(item.id)">删除</button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>

    </div>
</div>