<div class="modal ng-scope top am-fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">操作提示</h3>
        </div>
        <div class="margin-top-20 middle">
            撤回后需另外分配人员外勤来完成任务
        </div>
        <div class="margin-top-20 middle">
            确认撤回？
        </div>
        <div class="margin-top-20 middle">
            <textarea ng-model="withdrawCause" name="" id="" cols="50" rows="7" style="margin:0 auto"></textarea>
        </div>

        <div class="middle margin-top-20 margin-bottom-15">
            <button class="btn btn-primary" type="button" ng-click="cancel()">取消</button>
            <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        </div>
    </div>
</div>
 </div>