<div class="modal ng-scope top am-fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;text-align:center;padding:1vh 0">
    <img style="transform:rotate({{angle}}deg)" src="{{url}}" style="width: 80%;max-height:100vh">
    <i  class="glyphicon glyphicon-remove" tabindex="99"  ng-click="iconOff()" style="cursor: pointer;position: fixed;right: 50px;top:10px;font-size: 30px"></i>
    <i  class="glyphicon glyphicon-repeat" tabindex="99"  ng-click="clickAngle()" style="cursor: pointer;position: fixed;right: 100px;top:10px;font-size: 30px"></i>

</div>